.navDiv{
    background-color: rgb(255, 0, 17);
}

nav{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}

nav>img{
    width: 75px;
    margin-right: 20px;
}

nav>ul{
    display: flex;
    align-items: center;
}

nav>ul>li{
    list-style: none;
}

nav>ul>li>a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px 20px;
    
}

nav>ul>li>a:hover{
    background-color: rgb(97, 4, 17);
}

.active{
    background-color: rgb(97, 4, 17);
}